
{{#each model as |heading index|}}
	<div {{action 'switchAboutSection' (concat "aboutSection" heading.id) (concat "about.about-" heading.id)}} class="section about-section">
		<div id="aboutSection{{heading.id}}">
		</div>
		<span class="sectionHeading">{{heading.aboutsectionheading}}</span>
	</div>
{{/each}}

{{yield}}
