{{yield}}
<!-- Slider main container(component itself) -->
    <!-- Additional required wrapper -->


<img src="assets/images/loader.gif" alt="" id="loader-gif">


<div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
</div>

<div class="swiper-pagination"></div>