{{yield}}


<div class="swiper-wrapper">
    <!-- Slides -->
    {{#each model.imagesArray as |slide|}}
        <div data-background="{{slide}}" class="swiper-slide swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
        </div>
    {{/each}}
</div>

<div class="swiper-pagination"></div>