@import "settings";
@import "foundation";
//@import "ember-modal-dialog/ember-modal-structure";
//@import "ember-modal-dialog/ember-modal-appearance";
@include foundation-everything;
//@import 'bower_components/photoswipe/src/css/main';
//@import 'bower_components/jquery.kwicks/jquery.kwicks.min.css';
//@import "bower_components/Swiper/dist/css/swiper.min.css";
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: left;
  margin-right: -1em;
  padding-right: 1em;
  /*&:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }*/
}


$primaryRed:rgba(190, 10, 28, 1); //BE0A1C
$primaryRedOpaque:rgba(190, 10, 28, 0.5);
$primaryBlack:rgba(26, 23, 27, 1); //1A171B
$primaryLightGray:rgba(220, 220, 220, 1); //DCDCDC
$primaryDarkerGray:rgba(55, 55, 55, 1);
$primaryDarkGray:rgba(135, 135, 135, 1); //878787
$primaryGradient:rgba(237, 237, 237, 1);//EDEDED
$primaryWhite:rgba(255, 255, 255, 1); //FFFFFF

$desktopLeftBuffer:7%;
$desktopTopBuffer:10%;
$desktopContentWidth:100%-$desktopLeftBuffer;
$desktopContentHeight:100%-$desktopTopBuffer;

$mobileLeftBuffer:14%;
$mobileTopBuffer:10%;
$mobileContentWidth:100%-$mobileLeftBuffer;
$mobileContentHeight:100%-$mobileTopBuffer;

$fontSize:1em;
$smallFontSize:1em;
$mediumFontSize:1em;

$navigationFontSize:1.1em;
$mediumNavigationFontSize:1.2em;
$smallNavigationFontSize:1em;

$productWrapperWidth:30%;
$productImageWidth:25%;
$productTextWidth:70%;
$productImageWidthMedium:25%;
$productWrapperWidthMedium:32%;
$productTextWidthMedium:70%;

@font-face {
    font-family: eng;
    src: url(/assets/eng_font.ttf);
}
body{

	font-size:16px;
	color:$primaryBlack;
	font-family: eng;
	a{
		color:$primaryBlack;
		outline:none;
		&:hover{
			color:$primaryBlack;
		}
	}
}
#copyright{
	position:fixed;
	right:0px;
	bottom:0px;
	width:115px;
	height:20px;
	margin:0.25%;
}
#loader{
	position:absolute;
	height:100%;
	width:100%;
	background-color:#888;
	z-index: 100;
}
#loader-bg{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(200,200,200,0.5);
}
#loader-gif{
	position:inherit;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
#logoWrapper{
    background-image: url("/assets/images/logoBW.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style: solid;
    border-width: 0.4em 0.4em 0.8em 0.4em;
    border-color: $primaryLightGray;
}
#wrapper{
	position:absolute;
	width:100%;
	height:100%;
} 
#banner{
	position:absolute;
	left: $desktopLeftBuffer;
	width: $desktopContentWidth;
	height: $desktopTopBuffer;
	
	@extend .gradientFullWidth;
	span{
		margin-top:0.3%;
		position:inherit;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		font-size:3.8em;
		white-space: nowrap;
	}
}
.language{
	position:absolute;
	width:100%;
	bottom:0px;
	z-index:9999;
	text-align:center;
	div{

	outline:none;
		border:none;

		&:hover{
			background-color:$primaryDarkGray;
		}
	}
}
#navigationWrapper{
	font-size:$navigationFontSize;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;	
	width:$desktopLeftBuffer;
	background-color:$primaryLightGray;
	overflow:hidden;
	/* nav menu */
	ul {
		:not(:first-child) {	
   			background-image: url("/assets/images/nav_item_decor.png");
			background-repeat: no-repeat;
			background-position: 50% 10%;
			background-size: 15%;
		}
		list-style-type: none;
		padding:0px;
		margin:0px;
		position:absolute;
		height:100%;
		width:100%;
		z-index:100;
		li{
			padding:0px 0px 0px 0px;			
			height:19%;
			width:100%;	
			display:table;
			a{
				display:table-cell;
				vertical-align: middle;
				text-align: center;
			}
			a.active{							
				color:$primaryRed;
			}
			a:hover{
				text-decoration:underline;
			}		
		}
	}
}	
#liquid1{
	position:absolute;
	top:$desktopTopBuffer;
	left:$desktopLeftBuffer;
	height:$desktopContentHeight;
	width:$desktopContentWidth;
	@extend .gradientFullWidth;
	
	.liquid-child{
		height:100%;
	}
	& > .liquid-child{
		overflow:auto;
	}
}
/* Index Route */
.swiper-container {
   	height:100%;
    .swiper-wrapper{
    	.swiper-slide{
    		background-size:contain;
    		background-repeat:no-repeat;
    		background-position:center;
    		
    	}
    }
}

.swiper-pagination-bullet {
  width: 3em;
  height: 1.6em;
  background: $primaryDarkGray;
  border-radius: 0.5em;
  opacity:0.8;
  &:hover{
  	-webkit-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.75);
  }
}
.swiper-pagination-bullet-active {
  background: $primaryRed;
  border-color: black;
}  

/* About Route*/
.about-section{
	padding:4em 1em;
	text-align: justify;
	.aboutHeading{
		position:absolute;
		top:1%;
		left:2%;
		white-space: nowrap;
		display:block;
		font-size:2.5em;
		@extend .transition;
	}
	.about-text{
		img{
			float:left;
			width:50%;
			margin:0% 2% 0% 0%;
		}
		display:inline;
		font-size: 1.2em;
	}
}
#aboutSection1{
	/*div{
		transform: translate(50%,50%);
		width:50%;
		height:50%;
		background: url("/assets/qvevri.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		z-index:9999;
	}//*/
}
#aboutSection2{}
#aboutSection3{}

/* Products Route */
#productsOptionsContainer
{
	z-index: 1000;
	position:absolute;
	right:0.2em;
	top:0.1em;
	@extend .slowTransition;
	#productsLiquidOptionsHandle{

		float:right;
		width:50px;
		height:50px;
		#productsOptionsActive{
			background-image: url("/assets/images/grapesToggle.png");
			background-size: 85%;
			@extend .optionsLogoDesign;
		}
		#productsOptionsInactive{

			background-image: url("/assets/images/grapes.png");
			background-size: 100%;
			@extend .optionsLogoDesign;
			animation: grapePulse 2s;
			animation-iteration-count:2;
			&:hover{
				background-color: $primaryLightGray;
			}
		}
	}
	.productsLiquidOptions{
		float:left;
		
		margin:9px 9px;
		width:150px;
	}
}
.optionsLogoDesign{
	height:50px;
	border-radius:50%;
	background-position: center;
	
}
@keyframes grapePulse {
  0% {
  	box-shadow: 0 0 0 0 $primaryRed inset;
  }
  70% {
    box-shadow: 0 0 0 0.3em $primaryRedOpaque inset;
  }
  100% {
  	box-shadow: 0 0 0 0 $primaryRed inset;
  }
}

.productsOptionsContainerBackground{
	background-color:$primaryLightGray;
}

.prouctsExpanded{
	width:97% !important;
	margin:1.5%;
}

#products-index-component-wrapper{
	margin:1%;
	position:absolute;
	top:4%;
	left:0%;

	.products-index-component{
		padding:1%;
		&:hover{
			-webkit-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.25);
			-moz-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.25);
			box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.25);
		}
		@extend .transition;

		//.liquid-container{.liquid-child{
		#productExpanded{			
			display:table;
			#productExpandedImage{
				width:10em;
				display:table-cell;
			}
			#productsExpandedBody{
				vertical-align:middle;
				display:table-cell;
				padding:1%;
				text-align: left;
				#productExpandedHeading{
					font-size: 2em;
					display:block;
					border-bottom: 0.2em solid $primaryDarkGray;
				}
			}
		}//}}
	
		display:inline-block;
		width:$productWrapperWidth;
		.products-index-img{
			display:inline-block;
			width:$productImageWidth;
			max-width:5.5em;
			vertical-align: bottom;
		}
		.products-index-text-wrapper{
			display:inline-block;
			width:$productTextWidth;
			vertical-align: bottom;
			.products-index-heading{
				text-transform: uppercase;
				white-space: nowrap;
				font-size: 1.2em;
				border-bottom: 0.1em solid $primaryDarkGray;
			}
			.products-index-description{
				color:$primaryDarkGray;
				font-size: 1em;
				@include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
			}
		}
	}
}

.kwicks {
    width: 100%;
    height: 100%;
    .products-section, .about-section{
    	height:inherit;	
    }
}
.kwicks-selected{
	overflow:auto;
	.sectionHeading{
		display:none;
	}
}
.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}

.section{
	width:100%;
	height:100%;
	&:not(:first-child, :last-child) {
		@extend .gradient;
	}
}
.sectionHeading{
	margin:0px;
	padding:0px;
	font-size: 2.5em;
	white-space: nowrap;
	position:absolute;
	left:50%;
	top:50%;
	-ms-transform: translate(-50%,-50%) rotate(-90deg); /* IE 9 */
    -webkit-transform: translate(-50%,-50%) rotate(-90deg); /* Chrome, Safari, Opera */
	transform: translate(-50%,-50%) rotate(-90deg);
}

.products-section{}
#productsSection1{}
#productsSection2{}
#productsSection3{}

/////////////////////////////////
//handling activated product route in collapsed section
.kwicks-collapsed
{
	//hide bottle name && select_box of collapsed section
	#productsOptionsContainer{
		display:none;
	}
	#products-index-component-wrapper{
		.products-index-text-wrapper{
			display:none;
		}
		top:50%;
		transform:translateY(-50%);
		@extend .slowTransition;
		#productExpanded{
			display:none;
		}
		.products-index-component{
			width:21%;
			.products-index-img{
				width:100%;
			}
		}
	}
	div{//aboutSection1,2,3
		.aboutHeading{
			top:50%;
			left:50%;
			-ms-transform: translate(-50%,-50%) rotate(-90deg); /* IE 9 */
		    -webkit-transform: translate(-50%,-50%) rotate(-90deg); /* Chrome, Safari, Opera */
		    transform: translate(-50%,-50%) rotate(-90deg);
		    @extend .transition;
		}
		.about-text{
			display:none;
		}
	}
}

/* News Route */
#newsAccordionWrapper{
	width:90%;
	margin:0 auto;
	border:none;
	background-color: rgba(0,0,0,0);
	li{
		border-top:1px solid $primaryDarkGray;
		a{
			color:$primaryBlack;
			font-size:1.5em;
			border:none;
		}
		&.is-active{
			border-left:0.3em solid $primaryRed;
			border-right:0.3em solid $primaryRed;
			& a{
				border-bottom:0.2em solid $primaryRed;
				color:$primaryRed;
			}
		}
		.accordion-content{
			border:none;
		}
	}
	.accordion-content{
		background-color: rgba(255,255,255,0.5);
	}
	a:hover{
		background-color: $primaryLightGray;
		color:$primaryBlack;
	}
}

/* Awards Route */


////////////////////////////////////////////////////////////////

/**************************************************************/

/***********************MEDIA QUERIES**************************/
@include breakpoint(small down) { 
	#navigationWrapper{
		font-size:$smallNavigationFontSize;
	}
	#banner{
		display:none;
	}
	#liquid1{
		top:0 !important;
		height:100% !important;
	}
	body{
		font-size:8px;
	}
}
@include breakpoint(medium down){
	#liquid1{
		width:$mobileContentWidth;
		height:$mobileContentHeight;
		left:$mobileLeftBuffer;
		top:$mobileTopBuffer;
	}
	#navigationWrapper{
		width:$mobileLeftBuffer;
	}
	#banner{
		left: $mobileLeftBuffer;
		width: $mobileContentWidth;
		height: $mobileTopBuffer;
		span{
			font-size:2.2em;
		}
	}
	body{
		font-size:12px;
	}
}
@include breakpoint(medium){

	#navigationWrapper{
		font-size:$mediumNavigationFontSize;
	}
}
@include breakpoint(large){
	/* Products route */
	.products-index{
		//width:$productWrapperWidth;
	}
	.products-index-img{
		//width:$productImageWidth;
	}
	.products-index-heading{}
	.products-index-description{}
}

#orientation-warning {
	position:absolute;
	top:0px;
	left:0px;
	width: 100%; height: 100%;
	z-index:10000;
	background-color:#333;
	text-align: center;

    display:none; 
}
#orientation-warning td {
	color:#ccc;
	vertical-align: middle;
}

@include breakpoint(portrait) {
    #orientation-warning {
    	display: table;
	}
}

.gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,777777+50,ffffff+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, $primaryLightGray 0%,$primaryWhite 60%,$primaryWhite 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, $primaryLightGray 0%,$primaryWhite 60%,$primaryWhite 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(220,220,220,0.7) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradientFullWidth{
	background: $primaryGradient; /* Old browsers */
	background: -moz-linear-gradient(left, $primaryLightGray 0%, $primaryWhite 25%, $primaryWhite 75%, $primaryLightGray 100%);
	background: -webkit-linear-gradient(left, $primaryLightGray 0%, $primaryWhite 25%, $primaryWhite 75%, $primaryLightGray 100%); 
    background: linear-gradient(to right, $primaryLightGray 0%,$primaryWhite 25%, $primaryWhite 75%, $primaryLightGray 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#606060',GradientType=0 );	
}
.fastTransition{
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.transition{
	-webkit-transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-ms-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
}
.slowTransition{
	-webkit-transition: all 1.5s ease-out;
	-moz-transition: all 1.5s ease-out;
	-ms-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	transition: all 1.5s ease-out;
}

//ember-power-select options
//Backgrounds
$ember-power-select-background-color: $primaryLightGray !default;
$ember-power-select-highlighted-background: $primaryDarkGray !default;
$ember-power-select-selected-background: $primaryLightGray !default;

//Texts
$ember-power-select-text-color: $primaryBlack !default;
$ember-power-select-placeholder-color: $primaryBlack !default;
$ember-power-select-highlighted-color: $primaryBlack !default;

//Borders
$ember-power-select-border-color: $primaryDarkGray !default;
$ember-power-select-focus-border-color: $ember-power-select-border-color !default;
$ember-power-select-default-border: 0px solid $ember-power-select-border-color !default;
$ember-power-select-default-focus-border: 0px solid $ember-power-select-focus-border-color !default;

//Borders radius
$ember-power-select-default-border-radius: 0px !default; // General border radius

//Other
$ember-power-select-line-height:30px !default;
$ember-power-select-trigger-icon-color: $ember-power-select-border-color !default;
$ember-power-select-clear-btn-margin: 20px;
.ember-power-select-clear-btn {
	font-family: serif;
	font-size: 1.5em;
	font-weight: bold;
}
$ember-power-select-number-of-visible-options: 7 !default;
$ember-power-select-trigger-ltr-padding: 0 16px 0 8px !default;
$ember-power-select-trigger-rtl-padding: 0 8px 0 16px !default;
@import "ember-power-select";