@import "settings";
@import "foundation";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@include foundation-everything;
//@import 'bower_components/photoswipe/src/css/main';
//@import 'bower_components/jquery.kwicks/jquery.kwicks.min.css';
//@import "bower_components/Swiper/dist/css/swiper.min.css";
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}


$primaryRed:#BE0A1C;
$primaryBlack:#1A171B;
$primaryLightGray:#DCDCDC;
$primaryDarkGray:#878787;
$primaryGradient:#EDEDED;
$primaryWhite:#FFFFFF;

$desktopLeftBuffer:7%;
$desktopTopBuffer:10%;
$desktopContentWidth:100%-$desktopLeftBuffer;
$desktopContentHeight:100%-$desktopTopBuffer;

$mobileLeftBuffer:15%;
$mobileTopBuffer:10%;
$mobileContentWidth:100%-$mobileLeftBuffer;
$mobileContentHeight:100%-$mobileTopBuffer;

$fontSize:1em;
$smallFontSize:1em;
$mediumFontSize:1em;

$navigationFontSize:1.1em;
$mediumNavigationFontSize:1.2em;
$smallNavigationFontSize:1em;

$productWrapperWidth:30%;
$productImageWidth:25%;
$productTextWidth:70%;
$productImageWidthMedium:25%;
$productWrapperWidthMedium:32%;
$productTextWidthMedium:70%;

@font-face {
    font-family: eng;
    src: url(/assets/eng_font.ttf);
}
body{
	font-family: eng;
}
#copyright{
	position:fixed;
	right:0px;
	bottom:0px;
	width:115px;
	height:20px;
	margin:0.25%;
}
#loader{
	position:absolute;
	height:100%;
	width:100%;
	background-color:#888;
	z-index: 100;
}
#loader-bg{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(200,200,200,0.5);
}
#loader-gif{
	position:inherit;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
#logoWrapper{
    background-image: url("/assets/images/logoBW.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style: solid;
    border-width: 0.2em 0.1em 0.5em 0.2em;
    border-color: $primaryLightGray;
}
#wrapper{
	position:absolute;
	width:100%;
	height:100%;
} 
#banner{
	position:absolute;
	left:$desktopLeftBuffer;
	height:$desktopTopBuffer;
	width:$desktopContentWidth;
	text-align: center;
	line-height: 12.5vh;
	font-size: 10vh;
}
#navigationWrapper{
	font-size:$navigationFontSize;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;	
	width:$desktopLeftBuffer;
	background-color:$primaryLightGray;
	overflow:hidden;
	/* nav menu */
	ul {
		:not(:first-child) {	
   			background-image: url("/assets/images/nav_item_decor.png");
			background-repeat: no-repeat;
			background-position: 50% 10%;
			background-size: 15%;
		}
		list-style-type: none;
		padding:0px;
		margin:0px;
		position:absolute;
		height:100%;
		width:100%;
		z-index:100;
		li{
			padding:0px 0px 0px 0px;			
			height:20%;
			width:100%;	
			display:table;
			a{
				color:$primaryBlack;
				display:table-cell;
				vertical-align: middle;
				text-align: center;
			}
			a.active{							
				color:$primaryRed;
			}			
		}
	}
}	
#liquid1{
	position:absolute;
	top:$desktopTopBuffer;
	left:$desktopLeftBuffer;
	height:$desktopContentHeight;
	width:$desktopContentWidth;
	.liquid-child{
		height:100%;
	}
}
/* Index Route */
.swiper-container {
   	height:100%;
    border:1px solid red; 
    .swiper-wrapper{
    	.swiper-slide{
    		img{
    			width: 100%;
				height: 100%;
				object-fit: cover;   		}
    	}
    }
}    
/* Products route */
#products-index-component-wrapper{
	position:absolute;
	top:5%;
	left:0%;
	.products-index-component{
		display:inline-block;
		width:$productWrapperWidth;
		.products-index-img{
			display:inline-block;
			width:$productImageWidth;
			vertical-align: bottom;
		}
		.products-index-text-wrapper{
			display:inline-block;
			width:$productTextWidth;
			vertical-align: bottom;
			.products-index-heading{
				white-space: nowrap;
				font-size: 1.4em;
				border-bottom: 2px solid $primaryDarkGray;
			}
			.products-index-description{
				color:$primaryDarkGray;
				@include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
			}
		}
	}
}
.productModal{
	width:50%;
	//background-color: #fff;
	//align:middle;
	//color:$primaryBlack;
	#products-modal-image {
		display:inline-block;
		width:20%;
		vertical-align:bottom;
	}
	#products-modal-text{
		display:inline-block;
		width:60%;
		border:1px solid red;
		vertical-align: top;
		#products-modal-heading{
			font-size: 1.5em;
			border-bottom: 2px solid $primaryDarkGray;
		}
	}
}

.kwicks {
    width: 100%;
    height: 100%;
    .products-section, .about-section{
    	height:inherit;	
    }
}
.kwicks-selected{
	overflow:auto;
	.sectionHeading{
		display:none;
	}
}
.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}
.section{
	width:100%;
	height:100%;
	@extend .gradient;
}
.sectionHeading{
	position:absolute;
	left:50%;
	top:50%;
	transform: translateX(-50%);
}
.about-section{}
.products-section{}
#productsSection1{}
#productsSection2{}
#productsSection3{}
#aboutSection1{
	/*
	div{
		transform: translate(50%,50%);
		width:50%;
		height:50%;
		background: url("/assets/qvevri.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	//*/
}
#aboutSection2{}
#aboutSection3{}

/////////////////////////////////
//handling activated product route in collapsed section
.kwicks-collapsed
{
	//hide bottle name && select_box of collapsed section
	.ember-power-select{
		display:none;
	}
	#products-index-component-wrapper{
		.products-index-text-wrapper{
			display:none;
		}
		top:50%;
		transform:translateY(-50%);
		@extend .transition;
		.products-index-component{
			width:22%;
			.products-index-img{
				width:100%;
			}
		}
	}		
	
}


////////////////////////////////////////////////////////////////
/*#liquid2_product{
	position:absolute;
	width:100%;
}*/
/**************************************************************/

/***********************MEDIA QUERIES**************************/
@include breakpoint(small down) { 
	#navigationWrapper{
		font-size:$smallNavigationFontSize;
	}
	#banner{
		display:none;
	}
	#liquid1{
		top:0 !important;
		height:100% !important;
	}
}
@include breakpoint(medium down){
	#liquid1{
		width:$mobileContentWidth;
		height:$mobileContentHeight;
		left:$mobileLeftBuffer;
		top:$mobileTopBuffer;
	}
	#navigationWrapper{
		width:$mobileLeftBuffer;
	}

}
@include breakpoint(medium){
	#navigationWrapper{
		font-size:$mediumNavigationFontSize;
	}
}
@include breakpoint(large){
	/* Products route */
	.products-index{
		//width:$productWrapperWidth;
	}
	.products-index-img{
		//width:$productImageWidth;
	}
	.products-index-heading{}
	.products-index-description{}
}

#orientation-warning {
	position:absolute;
	top:0px;
	left:0px;
	width: 100%; height: 100%;
	z-index:10000;
	background-color:#333;
	text-align: center;

    display:none; 
}
#orientation-warning td {
	color:#ccc;
	vertical-align: middle;
}

@include breakpoint(portrait) {
    #orientation-warning {
    	display: table;
	}
}


.gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+23,ffffff+100 */
	background: $primaryWhite; /* Old browsers */
	background: -moz-linear-gradient(left, $primaryGradient 15%,  $primaryWhite 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, $primaryGradient 15%, $primaryWhite 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $primaryGradient 15%, $primaryWhite 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.transition{
	-webkit-transition: all 1.5s ease-out;
	-moz-transition: all 1.5s ease-out;
	-ms-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	transition: all 1.5s ease-out;
}

//ember-power-select options
//Backgrounds
$ember-power-select-background-color: $primaryDarkGray !default;
$ember-power-select-highlighted-background: $primaryRed !default;
$ember-power-select-selected-background: $primaryDarkGray !default;

//Texts
$ember-power-select-text-color: $primaryRed !default;
$ember-power-select-placeholder-color: $primaryRed !default;
$ember-power-select-highlighted-color: $primaryRed !default;

//Borders
$ember-power-select-border-color: $primaryRed !default;
$ember-power-select-focus-border-color: $ember-power-select-border-color !default;
$ember-power-select-default-border: 2px solid $ember-power-select-border-color !default;
$ember-power-select-default-focus-border: 2px solid $ember-power-select-focus-border-color !default;

//Borders radius
$ember-power-select-default-border-radius: 0px !default; // General border radius

//Other
$ember-power-select-line-height: 2em !default;
$ember-power-select-trigger-icon-color: $ember-power-select-border-color !default;
$ember-power-select-clear-btn-margin: 25px !default;
$ember-power-select-number-of-visible-options: 7 !default;
$ember-power-select-trigger-ltr-padding: 0 16px 0 8px !default;
$ember-power-select-trigger-rtl-padding: 0 8px 0 16px !default;
@import "ember-power-select";