{{outlet}}

<h1 class="aboutHeading">{{model.aboutsectionheading}}</h1>

<div class="about-text">
	{{light-box class="aboutImage" href=model.image data-lightbox="aboutImage"}}
	<div>{{model.sectionbody}}</div>
</div>