{{#link-to "index" id="logoWrapper"}}<img src="/assets/images/main_logo.png" alt="">{{/link-to}}
<nav>
	<ul>
		<li></li>
		<li>{{#link-to "about"}}{{t "about"}}{{/link-to}}</li>
		<li>{{#link-to "products"}}{{t "products"}}{{/link-to}}</li>
    <li>{{#link-to "awards"}}{{t "awards"}}{{/link-to}}</li>
		<li>{{#link-to "contact"}}{{t "contact"}}{{/link-to}}</li>
	</ul>
</nav>
