<nav>
	<ul>
		<li>{{#link-to "index"}}INDEX{{/link-to}}</li>
		<li>{{#link-to "products"}}PRODUCTS{{/link-to}}</li>
		<li>{{#link-to "gallery"}}GALLERY{{/link-to}}</li>
		<li>{{#link-to "about"}}ABOUT{{/link-to}}</li>
		<li>{{#link-to "contact"}}CONTACT{{/link-to}}</li>
	</ul>
</nav>
	
	
	