<nav>
	<ul>
		<li id="logoWrapper">{{#link-to "index"}}{{/link-to}}</li>
		<li>{{#link-to "about"}}About{{/link-to}}</li>
		<li>{{#link-to "products"}}Products{{/link-to}}</li>
		<li>{{#link-to "news"}}News{{/link-to}}</li>
		<li>{{#link-to "awards"}}Awards{{/link-to}}</li>
	</ul>
</nav>
