{{#power-select 
	selected=selectedType
	placeholder="Viewing all"
	searchEnabled=false
	allowClear=true
	options=uniqueMappedProducts
	onchange=(action "selectProductType") 	
as |type|}}
	{{type}}
{{/power-select}}
<div id="productIndexWrapper">
	{{#each dynamicallyFilteredProducts as |p|}}
		{{product-listing product=p class="products-index-component"}}	
	{{/each}}
</div>
