<div id="productsOptionsContainer">
	<div id="productsLiquidOptionsHandle" {{action "toggleProductsOptions"}}>
		{{#liquid-if optionsMenuShowing class="productsLiquidOptionsHandle"}}
			<div id="productsOptionsActive"></div>
		{{else}}
			<div id="productsOptionsInactive"></div>
		{{/liquid-if}}
	</div>
	{{#liquid-if optionsMenuShowing class="productsLiquidOptions"}}
		{{#power-select 
			selected=selectedType
			placeholder="Viewing all..."
			searchEnabled=false
			allowClear=true
			options=uniqueMappedProducts
			onchange=(action "selectProductType") 	
		as |type|}}
			{{type}}
		{{/power-select}}		
	{{/liquid-if}}
</div>


<div id="products-index-component-wrapper">
	{{#each dynamicallyFilteredProducts as |p|}}
		{{product-listing product=p class="products-index-component"}}
	{{/each}}		
</div>	

