<div class='kwicks kwicks-horizontal'>
	<div class="about-section" id="about-section-1"></div>
    <div class="about-section" id="about-section-2"></div>
	<div class="about-section" id="about-section-3"></div>
</div>

{{outlet}}
