<div class='kwicks kwicks-horizontal'>
	<div class="section about-section">
		<div id="aboutSection1"></div>
		<span class="sectionHeading">satauri1</span>
	</div>
    <div class="section about-section">
    	<div id="aboutSection2"></div>
    	<span class="sectionHeading">satauri2</span>
    </div>
	<div class="section about-section">
		<div id="aboutSection3"></div>
		<span class="sectionHeading">satauri3</span>
	</div>
</div>

{{outlet}}
