<div id="wrapper">
	<div id="banner">{{#link-to "index"}}{{t "banner"}}{{/link-to}}</div>
	<div id="navigationWrapper">
		{{partial "navigation"}}
	</div>

		<!-- main outlet -->
		{{liquid-outlet id="liquid1"}}
		
	<!-- Orientation Alert -->
	<div id="orientation-warning">
		<td>Please hold your device in landscape mode</td>
	</div>
	
	{{language-select refreshModel="refreshModel" class="languageWrapper"}}
	<div id="copyright">
		copyright 2016 &copy;
	</div>
</div>

