<div id="wrapper">
	<div id="navigationWrapper">
		{{partial "navigation"}}
	</div>

	<div id="contentWrapper">

		{{liquid-outlet}}
	</div>	

	<!-- Orientation Alert -->
	<div id="orientation-warning">
		<td>Rotate screen biatch</td>
	</div>
</div>