<div id="wrapper">
	<div id="navigationWrapper">
		{{partial "navigation"}}
	</div>

		{{liquid-outlet}}
	<!-- Orientation Alert -->
	<div id="orientation-warning">
		<td>Rotate screen biatch</td>
	</div>
</div>