<div id="wrapper">
	<div id="banner"><span>KAKHURI GVINIS MARANI</span></div>
	<div id="navigationWrapper">
		{{partial "navigation"}}
	</div>

		<!-- main outlet -->
		{{liquid-outlet id="liquid1"}}
		
	<!-- Orientation Alert -->
	<div id="orientation-warning">
		<td>Rotate screen biatch</td>
	</div>
	
	{{language-select class="language"}}
	
	<div id="copyright">
		copyright 2016 &copy;
	</div>
</div>

