<div id="wrapper">
	<div id="navigationWrapper">
		{{partial "navigation"}}
	</div>

		{{liquid-outlet id="liquid1"}}
	<!-- Orientation Alert -->
	<div id="orientation-warning">
		<td>Rotate screen biatch</td>
	</div>
</div>

<!--
	<div id="slickWrapper">
	 
		{{#slick-slider 
			slidesToShow=5
			responsive=breakpoints
			arrows=false
			autoplay=true
			speed=200
			swipeToSlide=true
			touchThreshold=10
			rows=2
		}}
			
		{{/slick-slider}}			
	</div>

-->