{{outlet}}

{{#photo-swipe}}
  <a class="photo-item" href="/assets/images/thumb/01.png" data-width="600" data-height="400">
    <img src="/assets/images/thumb/01.png" >
  </a>
  <a class="photo-item" href="/assets/images/thumb/02.png" data-width="600" data-height="400">
    <img src="/assets/images/thumb/02.png" >
  </a>
{{/photo-swipe}}