{{outlet}}

{{#photo-swipe}}
	{{#each model as |productUnit|}}
	  <a class="photo-item" href="{{productUnit.src}}" data-width="800" data-height="700">
	    	<img src="{{productUnit.src}}" >
	  </a>
	{{/each}}
{{/photo-swipe}}