{{outlet}}

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="/assets/images/slideshow/01.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/02.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/03.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/04.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/05.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/06.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/07.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/08.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/assets/images/slideshow/09.jpg" alt=""></div>
    </div>
</div>


