{{outlet}}

{{index-swiper model=model class="swiper-container"}}

<div id="index-logo-wrapper">
	<img src="/assets/images/logo.png" alt="" id="index-logo">
</div>

<div id="index-label">
	<span>
		Following <span id="years8k">8,000 years</span>
    <br>
		of winemaking traditions.
	</span>
</div>
