{{outlet}}
    <!-- colored -->
    <div class="ih-item circle colored effect17"><a href="#">
        <div class="img"><img src="assets/images/round.jpg" alt="img"></div>
        <div class="info">
          <h3>Factory</h3>
          <p>Using traditional and latest winemaking technologies </p>
        </div></a></div>
    <!-- end colored -->

      <div class="ih-item circle colored effect17"><a href="#">
        <div class="img"><img src="assets/images/round.jpg" alt="img"></div>
        <div class="info">
         <div class="img"><img src="assets/images/round1.jpg" alt="img"></div>
        </div></a></div>
    <!-- end colored -->