
<div class='kwicks kwicks-horizontal'>
	<div class="products-section" id="products-section-1" {{action 'switchProductSection' 'products-section-1' 'products.product-1'}}>
	    <!-- <span id="productsSpan1" class="products-section-heading">Bottled</span> -->
	</div>
    <div class="products-section" id="products-section-2" {{action 'switchProductSection' 'products-section-2' 'products.product-2'}}>
	</div>
	<div class="products-section" id="products-section-3" {{action 'switchProductSection' 'products-section-3' 'products.product-3'}}>

	</div>
</div>
	    

{{#if isWormholeEnabled}}
	{{#ember-wormhole to=productsDestination}}
		{{liquid-outlet id="liquid2_product"}}
	{{/ember-wormhole}}
{{/if}}